.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.auth-container h2 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.auth-container input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  background-color: #e62429;
  color: white;
  border: none;
  padding: 10px;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

.auth-container button:hover {
  background-color: #c51d24;
}

.error {
  color: red;
  font-size: 14px;
}

@media (max-width: 600px) {
  .auth-container {
    width: 90%; /* Au lieu d'une largeur fixe */
    max-width: 320px; /* Empêche qu'il devienne trop large */
    padding: 15px;
  }

  .auth-container input {
    font-size: 14px;
    padding: 8px;
  }

  .auth-container button {
    font-size: 14px;
    padding: 8px;
  }
}
