.character-detail-container {
  text-align: center;
  padding: 20px;
}

.character-image {
  max-width: 200px;
  border-radius: 10px;
  margin: 10px 0;
}
.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #e62429;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.back-btn:hover {
  background-color: #c51d24;
}

.character-detail-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.character-detail-container h2 {
  font-size: 30px;
  border: gray solid 2px;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
}

.character-detail-container p {
  margin-bottom: 15px;
  max-width: 1220px;
}

.character-detail-container h3 {
  margin-top: 15px;
  font-size: 20px;
}

.comics-found {
  background-color: #202020;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comics-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.comic-image {
  max-width: 200px;
  border-radius: 10px;
  margin: 10px 0;
}

.comic-detail-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.comic-detail-container h2 {
  font-size: 30px;
  border: gray solid 2px;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
}

.comic-detail-container p {
  margin-bottom: 15px;
  max-width: 800px;
}

.comic-detail-container h3 {
  margin-top: 15px;
  font-size: 20px;
}
