.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #e62429;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.back-btn:hover {
  background-color: #c51d24;
}

.detail-container h2 {
  font-size: 30px;
  border: gray solid 2px;
  border-radius: 20px;
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.detail-container p {
  margin-bottom: 5px;
  max-width: 70%;
  text-align: justify;
}

.detail-container h3 {
  margin-top: 15px;
  font-size: 20px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.comics-found {
  background-color: #202020;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
}

.comics-found h3 {
  text-align: center;
  max-width: fit-content;
  margin-top: 0px;
}
