.favorite-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* ----------------------------------------------------RESPONSIVE------------------------------------------------------------ */

@media (max-width: 768px) {
  .horizontal-scroll {
    overflow-x: auto;
    padding: 10px 0;
  }

  .scroll-container {
    display: flex;
    gap: 10px;
  }

  .card {
    width: 140px;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .card {
    width: 120px;
  }

  .card-title {
    font-size: 10px;
  }

  .favorite-btn {
    font-size: 14px;
  }
}
