.favorites-container {
  text-align: flex-start;
  padding: 20px;
}

.favorites-container h3 {
  font-size: 20px;
}

.favorite-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.scroll-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.scroll-container .card {
  flex: 0 0 auto;
  width: 180px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------------------------------RESPONSIVE------------------------------------------------------------ */

@media (max-width: 768px) {
  .horizontal-scroll {
    overflow-x: auto;
    padding: 10px 0;
  }

  .scroll-container {
    display: flex;
    gap: 10px;
  }

  .card {
    width: 140px;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .card {
    width: 120px;
  }

  .card-title {
    font-size: 10px;
  }

  .favorite-btn {
    font-size: 14px;
  }
}
